<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Test Suites</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <h2>Available Test Suites</h2>

      <div class="list-group">
	{% for name, filename in index_files %}
	<a href="{{ filename }}" class="list-group-item list-group-item-action flex-column align-items-start">
	  <div class="d-flex w-100 justify-content-between">
	    <h5 class="mb-1"><strong>{{ name }}</strong></h5>
	  </div>
	</a>
	{% endfor %}
      </div>

    </main>
  </body>
</html>
